.intro__square {
  width: 25%;
  position: relative;
  box-sizing: border-box;
  border: 4px solid #FFFFFF;
  margin-bottom: 80px;
}

.intro__square::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

@media screen and (max-width: 1024px) {
  .intro__square {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 455px) {
  .intro__square {
    width: 50%;
    margin-bottom: 40px;
  }
}
