.about__category-names {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media screen and (max-width: 491px) {
  .about__category-names {
    align-items: center;
  }
}
