.about__content {
  width: 32%;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  .about__content {
    width: 50%;
  }
}

@media screen and (max-width: 491px) {
  .about__content {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
