.block__title {
  margin: 0;
  margin-bottom: 94px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
  text-align: center;
}

.block__title::after {
  content: '';
  width: 120px;
  height: 1px;
  background: #ffffff;
  position: absolute;
  bottom: -44px;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 1024px) {
  .block__title {
    font-size: 26px;
    margin-bottom: 70px;
  }

  .block__title::after {
    bottom: -25px;
  }
}

@media screen and (max-width: 491px) {
  .block__title {
    margin-bottom: 55px;
    font-size: 22px;
  }

  .block__title::after {
    bottom: -22px;
  }
}
