.intro__text {
  margin: 0;
  z-index: 1;
  width: 37%;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  .intro__text {
    width: 50%;
    font-size: 14px;
  }
}

@media screen and (max-width: 455px) {
  .intro__text {
    width: 85%;
  }
}
