.about__categories {
  width: 31%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media screen and (max-width: 491px) {
  .about__categories {
    width: 100%;
    align-items: center;
  }
}
