.card__heading {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.33;
  color: #FFFFFF;
  margin-bottom: 10px;
  z-index: 1;
}

@media screen and (max-width: 1024px) {
  .card__heading {
    font-size: 15px;
    margin-bottom: 7px;
  }
}

@media screen and (max-width: 491px) {
  .card__heading {
    margin-bottom: 5px;
  }
}
