.contacts__text {
  margin: 0;
  padding-left: 15px;
  border-left: 1px solid #969696;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .contacts__text {
    border-left: none;
  }
}

@media screen and (max-width: 455px) {
  .contacts__text {
    margin-right: 10px;
  }
}
